.wrapper{
  min-height: 100vh;
  width: 100%;
  transition: transform 0.5s;
  background-color: rgba(0,0,0,.2);
}

.app-container{
  width: 800px;
  padding:5px;
  margin: auto;
}

.overflow-y-hidden{
  overflow-y: hidden;
}

.navbar-toggle{
  font-size: 2.5em;
  width: fit-content;
  display: none;
  color: #fff;
}
.navbar-toggle svg{
  cursor: pointer;
}

@media screen and (min-width:1001px){
  .overflow-y-hidden{
    overflow-y: auto;
  }
}
@media screen and (max-width:1000px){
  .wrapper{
    display: flex;
  }
  .app-container{
    width: 95%;
    margin: 0 auto;
  }
  .navbar-show{
    transform: translateX(300px);
  }
  .navbar-toggle{
    display: block;
  }

}

