@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/clouds.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
  transition: all 0.5s;
  font-family: "Rubik", sans-serif;
}

.night-mode{
  background-image: url('./images/night.jpg');
}

.night-mode .week-header {
  background: linear-gradient(135deg, #045FB4 0%, #084B8A 25%, #0B3861 100%)!important;
}
.night-mode .week-forecast-container .divider{
  color: white!important;
  background-color: #084B8A!important;
  border-bottom: 1px solid rgba(255,255,255,.2)!important;
  border-top: 1px solid rgba(255,255,255,.2)!important;
}

.night-mode .days-container {
  background-color: #084B8A!important;
  height: 100%;
  color: white!important;
}
.night-mode .days-container .day-item{
  color: #fff!important;
}
.night-mode .switch label {
  background-color: rgba(255,255,255,0.12)!important;
}


@media screen and (min-width:551px){
  .night-mode .search-container{
    background-color: rgba(255,255,255,.2)!important;
  }
  .night-mode .days-container .day-item:hover{
    background-color: #084B8A!important;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


